<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/klala/IdeaProjects/APIAutomationRestAssured/src/test/java/gorest/crud/EndtoEnd"><classes><class name="gorest.crud.EndtoEnd.CreateDel"><methods><include name="DelTest"/></methods></class></classes></test></suite>